<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Start Documents on the Home Page</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Start Documents on the Home Page</string>
			<key>Key</key>
			<string>StartHome</string>
			<key>DefaultValue</key>
			<real>0</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Font Darkness</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gamma Value</string>
			<key>Key</key>
			<string>Gamma</string>
			<key>DefaultValue</key>
			<string>1.8</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Screen Resolution</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>horizontal</string>
			<key>Key</key>
			<string>xDPI</string>
			<key>DefaultValue</key>
			<string>300</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>vertical</string>
			<key>Key</key>
			<string>yDPI</string>
			<key>DefaultValue</key>
			<string>300</string>
		</dict>
	</array>
</dict>
</plist>
