<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.hm.cs.hintview">

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/hintview"
        android:label="@string/hintview_activity">
        <activity
            android:name="edu.hm.cs.hintview.HINTVIEWActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/Hintview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
